#article {
border-width: 0.25em;
border-style: solid;
	border-color: black;
	width: 50em;
		padding-top: 10px;
	padding-bottom: 10px;
	box-sizing:border-box;
	border: 2px solid black;
	color:white;
	margin-bottom: 30px;
    text-align: center;
    
	
}
div{
    color:white;
text-align: center;
}
fieldset{
    	padding-top: 10px;
	padding-bottom: 10px;
    margin-left: 150px;
	
	width: 50em;
	color:white;
	margin-bottom: 30px;
    text-align: center;
}


/* unvisited link */
a:link {
    color: white
}

/* visited link */
a:visited {
    color: rgba(204,51,255,.5);
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: purple;
}